<?xml version="1.0"?>
<robot name="cube">

<link name="base_link">
  <collision>
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
    <geometry>
      <box size="0.472 0.450 0.492"/>
    </geometry>
  </collision>

  <visual>
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
    <geometry>
      <box size="0.472 0.450 0.492"/>
    </geometry>
  </visual>

  <inertial>
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
    <mass value="1"/>
    <inertia
      ixx="1.0" ixy="0.0" ixz="0.0"
      iyy="1.0" iyz="0.0"
      izz="1.0"/>
  </inertial>
</link>

<gazebo reference="base_link">
  <mu1>0</mu1>
  <mu2>0</mu2>
  <material>Gazebo/FlatBlack</material>
</gazebo>



</robot>


