<launch>

	<node name="spawn_robot_arm" pkg="gazebo_ros" type="spawn_model" args="-file $(find demo_test)/urdf/gripper_robot.urdf -urdf -model gripper_robot -y -2.0" />

	<node name="spawn_rotational_platform" pkg="gazebo_ros" type="spawn_model" args="-file $(find demo_test)/urdf/rotational_platform.urdf -urdf -model rotational_platform" />

</launch>